# Build folders
/build/
CMakeFiles/
CMakeCache.txt

# Binaries
*.exe
*.out
*.obj
*.o

*.ppm
render.cc

# IDE files
.vscode/
.vs/

# ignores all subfolders inside images/
images/*/
# re-includes files inside those folders so they stay tracked
!images/*/*